<section id="hero">
    <div class="w-full h-screen overflow-hidden bg-cover  " style=" background-image: url(/assets/hero-red.png);">
        <div class=" bg-dark_red w-full text-center">
            <p class=" py-2 text-xs  text-white">FREE Delivery in the UAE for orders above <span class=" text-mustard">
                    120 AED
                </span> - International deliveries at discounted rates*</p>
        </div>
        <div class=" hidden lg:flex relative h-full w-full">

            <div class="absolute right-0   h-full flex items-center">
                <img src="/assets/coffee-header.png" class=" lg:h-3/6 h-2/6 xl:h-4/6" alt="">
            </div>



            <div class="absolute   h-full flex items-center">
                <div class=" xl:px-10 px-4  ">
                    <h1 class=" xl:text-10xl lg:text-9xl md:text-8xl text-7xl font-Bison text-mustard">INTELLECT</h1>
                    <h1 class="xl:text-10xl lg:text-9xl md:text-8xl text-7xl font-Bison text-white">THE JOURNEY OF
                        COFFEE
                    </h1>
                    <button
                        class=" mt-5 ml-3 py-3 px-6 text-xs cursor-pointer z-20 bg-white   transform hover:scale-110 ease-in-out  duration-500">SHOP
                        NOW</button>
                </div>
            </div>
            <div class=" lg:block hidden relative max-h-44 w-full">
                <div class="w-full mx-auto  flex flex-wrap py-10  xl:px-10 px-4 flex-col md:flex-row items-center">
                    <div class=" md:my-2  ">
                        <a href="/" class=" ">
                            <img alt="Coffee shop" class=" xl:h-9  h-6 " id="logo" src="/assets/logo.png" />

                        </a>
                    </div>
                    <nav class="mx-auto text-gray-700 flex  justify-evenly flex-wrap items-center text-base ">
                        <a href="#" class=" nav-links">
                            Coffee
                        </a>
                        <a href="#" class=" nav-links">
                            Equipment
                        </a>
                        <a href="#" class=" nav-links">
                            Intellect showroom
                        </a>
                        <a href="#" class=" nav-links">
                            Intellect story
                        </a>
                        <a href="#" class=" nav-links">
                            Coffee On wheels
                        </a>
                        <a href="#" class=" nav-links">
                            Coffee Insights
                        </a>
                        <a href="#" class=" nav-links">
                            Contact us
                        </a>
                    </nav>

                    <a href="#" class=" nav-links  transform hover:scale-110 ease-in-out  duration-500">
                        <img src="/assets/search.png" alt="">

                    </a><a href="#" class=" nav-links  transform hover:scale-110 ease-in-out  duration-500">
                        <img src="/assets/person.png" alt="">

                    </a><a href="#" class=" nav-links   transform hover:scale-110 ease-in-out  duration-500">
                        <img src="/assets/cart.png" alt="">

                    </a>




                </div>
            </div>
        </div>
        <div class=" block lg:hidden ">
            <div class=" absolute  bottom-32 w-full  right-0">

                <img src="/assets/coffee-header.png" class=" sm:w-4/5 w-4/5 float-right " alt="">
            </div>
            <div class="w-full flex">
                <div class="flex-1">
                    <a href="/">
                        <img alt="Coffee Shop Logo" class="h-8 m-4" src="/assets/logo.png" />
                    </a>
                </div>
                <div class=" flex-1 text-right "><i class="burger text-xl font-light  fa fa-bars  m-4 text-white"></i>
                </div>
                <div class=" menu h-full top-0 hidden  z-20 right-0 fixed bg-dark_red w-auto">

                    <div class=" flex flex-col">
                        <i class=" cross  text-xl font-light float-right text-right fa fa-times  m-4 text-white "></i>
                        <a href="#" class=" mx-5 item nav-links">
                            Coffee
                        </a>
                        <a href="#" class="  mx-5 item nav-links">
                            Equipment
                        </a>
                        <a href="#" class="  mx-5 item nav-links">
                            Intellect showroom
                        </a>
                        <a href="#" class="  mx-5 item nav-links">
                            Intellect story
                        </a>
                        <a href="#" class="  mx-5 item nav-links">
                            Coffee On wheels
                        </a>
                        <a href="#" class="  mx-5 item nav-links">
                            Coffee Insights
                        </a>
                        <a href="#" class=" mx-5 item nav-links">
                            Contact us
                        </a>
                    </div>

                    <div class="flex mt-8 flex-row  mx-5">
                        <a href="#" class="menu nav-links ">
                            <img src="/assets/search.png" alt="">

                        </a><a href="#" class="menu nav-links">
                            <img src="/assets/person.png" alt="">

                        </a><a href="#" class="menu nav-links">
                            <img src="/assets/cart.png" alt="">

                        </a>

                    </div>
                </div>
            </div>


            <div class=" px-4 relative h-70vh flex  items-center  ">
                <div>
                    <h1 class=" sm:text-9xl xs:text-8xl  text-7xl font-Bison text-mustard">INTELLECT</h1>
                    <h1 class="sm:text-9xl xs:text-8xl text-7xl font-Bison text-white">THE JOURNEY OF COFFEE
                    </h1>
                    <button
                        class=" mt-5 ml-3 py-3 px-6 text-xs cursor-pointer z-0 hover:text-white bg-white hover:bg-mustard  transform hover:scale-110 ease-in-out  duration-500">SHOP
                        NOW</button>
                </div>
            </div>



        </div>

    </div>

</section>